* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Noir-Light;
  src: url("/fonts/NoirPro-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Noir-Regular;
  src: url("/fonts/NoirPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Noir-Medium;
  src: url("/fonts/NoirPro-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Noir-SemiBold;
  src: url("/fonts/NoirPro-SemiBold.otf");
}

@font-face {
  font-family: Noir-bold;
  src: url("/fonts/NoirPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Noir-Heavy;
  src: url("/fonts/NoirPro-Heavy.otf");
}

.noir-light {
  font-family: Noir-Light;
}

.noir-regular {
  font-family: Noir-Regular;
}

.noir-medium {
  font-family: Noir-Medium;
}

.noir-bold {
  font-family: Noir-bold;
}

.bg-section-login {
  /* background: rgba(255, 255, 255, 0.3); */
  background: rgb(201 145 249 / 47%);
  border: 1px solid #B7B4FF;
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.z-index-login {
  z-index: 2;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef00 !important;
  border: 2px solid #ffffff !important;
  color: white !important;
  border-right-width: 0 !important;
  /* border-radius: 0.625rem !important; */
  border-top-left-radius: 0.625rem !important;
  border-bottom-left-radius: 0.625rem !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  /* padding: 0.375rem 2.2rem !important; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff0 !important;
  background-clip: padding-box;
  border: 2px solid #ffffff !important;
  /* border-radius: 0.625rem !important; */
  border-left-width: 0px !important;
  border-top-right-radius: 0.625rem !important;
  border-bottom-right-radius: 0.625rem !important;
}

.input-group-disabled {
  background: #ffffff42;
  border-radius: 10px;
  cursor: not-allowed;
}
.form-control-disabled {
  cursor: not-allowed;
}
ul {
  padding-left: 0px !important;
}
a {
  text-decoration: none !important;
}
:root {
  --primary-color: #022754;
  --secondary-color: #03336E;
  --tertiary-color: #6151C5;
  --color-silver: #E7E7E7;
  --color-light-purple-gray: #A59DAB;
  --color-white: #FFFFFF;
  --color-cian: #0CD7F5;
  --color-sky: #00EDFF;
  --color-turquesa: #91EDE4;
  --color-purple: #7979B0;
  --color-brown: #615967;
  --color-light-purple: #A4A5E3;
  --color-placeholder: #B7B4FF;
  --color-lavanda: #DBDBFF;
  --color-black: #000000;
  --color-lavanda-strong: #F2F1FF;
  --color-purple-gray: #827A89;
  --color-gray: #999999;
  --color-transparent: rgba(255, 255, 255, 0);
  --color-blue: #26227D;
  --color-light-blue: #338AD1;
  --color-purple-on: #5b09bc;
  --color-check-input: #380a8b;
}

body {
  height: 100vh;
  width: 100vw;
}

/* Text Login */

div.resend-forgot-image {
  min-height: 240px;
  max-height: 420px;
}

div.resend-forgot-image img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 260px;
  max-width: 472px;
}

/* End Text Login */

button.button-login:hover,
button.button-login:focus,
button.button-login:active,
button.button-login {
  background: var(--primary-color);
  border-radius: 10px;
  height: 50px;
  font-family: Noir-bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
}

.input-group>.form-control::placeholder,
.input-style-l::placeholder {
  font-family: Noir-Regular;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-placeholder);
}

/* RESET */

div.home-hidden-scrool::-webkit-scrollbar,
div.screen-roboxmaker::-webkit-scrollbar,
div.notranslate::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.button {
  border-color: transparent;
}

.input-style-l {
  background-color: #fff0;
}

.input-style-l:hover {
  border-color: var(--color-white);
}

.input-style-l:active,
.input-style-l:focus {
  box-shadow: none !important;
}

input.input-style-l:valid {
  background-color: transparent !important;
  color: var(--color-turquesa) !important;
}

.reset-radius-l {
  border-right-width: 0 !important;
  border-radius: 0 !important;
}

.reset-box-icon-l {
  border-top-right-radius: 10px !important;
  border-right-width: 2px !important;
  border-bottom-right-radius: 10px !important;
  border-left-width: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

input.input-style-l,
div.input-style-l,
select.input-style-l {
  box-sizing: border-box;
  width: 472px;
  height: 50px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

span.icon-verify-license {
  color: var(--color-purple) !important;
}

label>input[type="radio"] {
  display: none;
}

label>input[type="radio"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: center;
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.13rem;
  border-color: var(--color-white);
}

label>input[type="radio"]:checked+* {
  color: var(--color-cian);
}

label>input[type="radio"]:checked+*::before {
  background: radial-gradient(var(--color-cian) 0%,
      var(--color-cian) 40%,
      transparent 50%,
      transparent);
  border-color: var(--color-cian);
}

label>input[type="radio"]+* {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.ck.ck-editor__main>.ck-editor__editable {
  background: transparent !important;
  border-radius: 0;
}

div.ck .ck-content .ck-editor__editable .ck-rounded-corners .ck-editor__editable_inline .ck-focused p {
  height: 98px;
}

div.ck .ck-editor__main {
  min-height: 128px;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  min-height: 128px;
  border: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5 !important;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border-color: #f5f5f5 transparent transparent transparent;
  border-top: 1px solid #f5f5f5 !important;
  min-height: 128px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.ck.ck-toolbar .ck.ck-toolbar__separator {
  align-self: stretch;
  width: 1px;
  min-width: 1px;
  background: var(--color-white)00;
}

.ck.ck-toolbar {
  background: var(--color-white);
  padding: 1;
  border: 0px;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
  background: transparent;
}

.ck.ck-button.ck-on:not(.ck-disabled):hover,
a.ck.ck-button.ck-on:not(.ck-disabled):hover {
  background: transparent;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: var(--color-white);
  right: 1.125em;
  z-index: 4;
}

input[type="text"]::placeholder::before,
input[type="password"]::placeholder::before {
  font-family: Noir-Regular;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-placeholder);
  opacity: 1;
}

.input[type="text"]::placeholder::after,
.input[type="password"]::placeholder::after {
  color: #1b105f;
}

.button[disabled],
fieldset[disabled] .button {
  background-color: var(--color-lavanda);
  border-color: var(--color-lavanda);
  box-shadow: none;
  opacity: 0.5;
}

.input[disabled],
.select fieldset[disabled] select,
.select select[disabled],
.textarea[disabled],
fieldset[disabled] .input,
fieldset[disabled] .select select,
fieldset[disabled] .textarea {
  background-color: var(--color-lavanda);
  border-color: var(--color-lavanda);
  box-shadow: none;
  color: var(--color-purple);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.select select:focus,
.select select:focus::after {
  box-shadow: none;
}

.input input:valid {
  border-color: var(--color-white);
  background: transparent !important;
}

.select select:valid {
  border-color: var(--color-white);
  background: transparent !important;
}

progress::-webkit-progress-bar {
  background-color: var(--color-transparent);
  width: 100%;
}

progress {
  background-color: var(--color-transparent);
}

progress::-moz-progress-bar {
  background: var(--color-turquesa) !important;
}

progress::-webkit-progress-value {
  background: var(--color-turquesa) !important;
  border-radius: 150px;
}

progress {
  color: var(--color-turquesa) !important;
}

input.input-style-class:active {
  border-color: transparent transparent var(--primary-color) transparent !important;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: none;
}

input.input-style-class:hover {
  border-color: transparent transparent var(--primary-color) transparent !important;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: none;
}

input.input-style-class:focus {
  border-color: transparent transparent var(--primary-color) transparent !important;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: none;
}

input.input-style-class {
  box-shadow: none;
}

label.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lavanda);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -1px;
  bottom: -2px;
  background-color: var(--color-light-purple);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--color-lavanda);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-lavanda);
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

span.slider.round {
  border-radius: 34px;
}

span.slider.round:before {
  border-radius: 50%;
}

button.button-universal-dropdown:active,
button.button-universal-dropdown-2:hover,
  button.button-universal-dropdown:focus {
  border-color: var(--color-light-purple);
  color: var(--color-light-purple);
}

button.button-universal-dropdown:focus:not(:active) {
  box-shadow: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-x-hidden {
  overflow-x: hidden;
}

div.scroll-x-home {
  overflow-x: scroll;
}

.scroll-messages-y {
  overflow-y: scroll;
  overflow-x: hidden;
}


.scroll-last-meets::-webkit-scrollbar,
.scroll-messages-y::-webkit-scrollbar,
.card-members-class::-webkit-scrollbar,
.container-robots-card-class::-webkit-scrollbar,
.container-robots-card-class-2::-webkit-scrollbar,
.container-messages-user-profile::-webkit-scrollbar,
.scrool-container-scholl-profile::-webkit-scrollbar,
.scroll-dropdown-home::-webkit-scrollbar {
  width: 5px;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar,
.scroll-x-home::-webkit-scrollbar {
  width: 11px;
}

.scroll-y::-webkit-scrollbar {
  width: 11px;
}

.scroll-x-home::-webkit-scrollbar:hover,
.scroll-y::-webkit-scrollbar:hover {
  width: 12px !important;
}

/* .scroll-y::-webkit-scrollbar:hover, */
.scroll-messages-y::-webkit-scrollbar:hover,
.scroll-x-home::-webkit-scrollbar:hover,
.scroll-last-meets::-webkit-scrollbar:hover,
.card-members-class::-webkit-scrollbar:hover,
.container-robots-card-class::-webkit-scrollbar:hover,
.container-robots-card-class-2::-webkit-scrollbar:hover,
.container-messages-user-profile::-webkit-scrollbar:hover,
.scrool-container-scholl-profile::-webkit-scrollbar:hover,
.scroll-dropdown-home::-webkit-scrollbar:hover {
  width: 12px !important;
}

.scroll-y::-webkit-scrollbar-track,
.scroll-x-home::-webkit-scrollbar-track {
  background: var(--color-white);
}
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track,
.scroll-messages-y::-webkit-scrollbar-track,
.scroll-last-meets::-webkit-scrollbar-track,
.card-members-class::-webkit-scrollbar-track,
.container-robots-card-class::-webkit-scrollbar-track,
.container-robots-card-class-2::-webkit-scrollbar-track,
.container-messages-user-profile::-webkit-scrollbar-track,
.scrool-container-scholl-profile::-webkit-scrollbar-track,
.scroll-dropdown-home::-webkit-scrollbar-track {
  background: var(--color-transparent);
}

.scroll-y::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 12px;
  border: 3px solid var(--color-white);
  height: 50%;
}

.scroll-x-home::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 12px;
  border: 3px solid var(--color-white);
  height: 50%;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb,
.scroll-messages-y::-webkit-scrollbar-thumb,
.scroll-last-meets::-webkit-scrollbar-thumb,
.card-members-class::-webkit-scrollbar-thumb,
.container-robots-card-class::-webkit-scrollbar-thumb,
.container-robots-card-class-2::-webkit-scrollbar-thumb,
.container-messages-user-profile::-webkit-scrollbar-thumb,
.scrool-container-scholl-profile::-webkit-scrollbar-thumb,
.scroll-dropdown-home::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 12px;
  /* border: 3px solid var(--color-white); */
  border: 3px solid var(--color-transparent);
  height: 50%;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb:hover,
.scroll-y::-webkit-scrollbar-thumb:hover,
.scroll-x-home::-webkit-scrollbar-thumb:hover,
.scroll-messages-y::-webkit-scrollbar-thumb:hover,
.scroll-last-meets::-webkit-scrollbar-thumb:hover,
.card-members-class::-webkit-scrollbar-thumb:hover,
.container-robots-card-class::-webkit-scrollbar-thumb:hover,
.container-robots-card-class-2::-webkit-scrollbar-thumb:hover,
.container-messages-user-profile::-webkit-scrollbar-thumb:hover,
.scrool-container-scholl-profile::-webkit-scrollbar-thumb:hover,
.scroll-dropdown-home::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
  border-radius: 12px;
  border: 5px solid var(--primary-color);
}

.is-boxed {
  background: var(--color-white);
}

/* END RESET */


@media screen and (min-width: 1080px) {

  .modal-card,
  .modal-content {
    margin: 0 auto;
    width: 60%;
  }
}

.ck.ck-dropdown .ck-dropdown__panel {
  display: none;
  z-index: var(--ck-z-modal);
  position: absolute;
  width: 300px;
  height: 100px;
}

.ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
  flex-wrap: wrap;
}

.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se, .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw {
  top: 34px !important;
}

.vc-container {
  position: inherit !important;
  z-index: 0 !important;
}

.vc-calendar-act {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: var(--color-lavanda) !important;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-allowed {
  cursor: not-allowed;
}

.accordion-item {
  border: 1px solid #A4A5E3 !important;
  height: 100%;
}

.btn-accordion {
  height: 70px;
  background-color: #ffffff !important;
  font-size: 1.125rem !important;
}

.accordion-item:last-of-type .btn-accordion.collapsed {
  border-radius: 24px !important;
  -webkit-border-radius: 24px !important;
  -moz-border-radius: 24px !important;
  -ms-border-radius: 24px !important;
  -o-border-radius: 24px !important;
}
.accordion-item:first-of-type .btn-accordion {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #A4A5E3 !important;
    outline: 0;
    box-shadow: none !important;
}

.txt-capitalize {
  text-transform: lowercase !important;
}
.txt-capitalize::first-letter {
  text-transform: uppercase !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.results-checked-input:checked {
  background-color: #380A8B !important;
  border-color: #380A8B !important;
}

.results-checked-input:focus {
  box-shadow: none !important;
}

.correct-checked-input:checked {
  background-color: #5B09BC !important;
  border-color: #5B09BC !important;
}

.incorrect-checked-input:checked {
  background-color: #DA001A !important;
  border-color: #DA001A !important;
}

.correct-checked-input:focus,
.incorrect-checked-input:focus {
  box-shadow: none !important;
}