a.button-search-univeral {
  width: 206px;
  height: 40px;
  display: flex;
  border-bottom: 1px solid var(--primary-color);
}

span.icon-text-search-universal {
  width: 206px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}

.mt-335 {
  margin-top: 20.9375rem;
}

textarea.input-style-universal::placeholder,
input.input-style-universal::placeholder,
textarea.input-style-universal:valid,
input.input-style-universal:valid,
textarea.input-style-universal:hover,
input.input-style-universal:hover,
.input-style-universal:active {
  font-family: Noir-Regular;
  font-size: 18px;
  line-height: 22px;
}

.hr-schools {
  border: 1px solid #bbbbbb;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hr-degrees {
  border: 1px solid #bbbbbb;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 18px;
}

.hr-section {
  border: 1px solid #C8C1CD;
}

div.py-home-sections {
  padding: 2rem 2rem 1.5rem 0rem;
}

.input-style-class::placeholder {
  font-family: Noir-Light;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color) !important;
}

/* SECTION CLASS VIEW  */
div.card-members-class {
  max-height: 35vh;
  overflow-y: scroll;
  border-radius: 32px;
}

input.input-style,
div.input-style,
select.input-style {
  height: 50px;
  border: 2px solid var(--color-lavanda);
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-light-purple);
}

div.card-post-view-home,
div.card-classes-view {
  overflow: visible;
  width: 297px;
  height: 166px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 32px;
}

div.card-robot-view {
  overflow: visible;
  width: 297px;
  height: 166px;
  background: var(--color-blue);
  border-radius: 32px;
}

div.card-meet-class {
  width: 100%;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 24px;
}

a.is-active-tab,
a.is-no-active-tab,
a.is-no-active-tab:hover,
.tabs.is-boxed li.is-active a {
  font-family: Noir-bold;
  font-size: 18px;
  line-height: 22px;
}

a.btn-disabled,
a.button-meet {
  font-family: Noir-Medium;
  font-size: 14px;
  line-height: 17px;
}

a.btn-disabled {
  cursor: not-allowed;
}

a.btn-disabled:hover,
a.button-meet:hover {
  color: var(--color-white);
  border-color: var(--color-transparent);
}

a.button-meet {
  width: 85px;
  height: 34px;
  background: var(--color-blue);
  border-radius: 10px;
  color: var(--color-white);
}

a.btn-disabled {
  width: 85px;
  height: 34px;
  background: var(--color-light-purple);
  border-radius: 10px;
  color: var(--color-white);
}

a.button-meet-2 {
  width: 110px;
  height: 40px;
  background: var(--color-blue);
  border-radius: 10px;
}

a.btn-meet-2-disabled {
  width: 110px;
  height: 40px;
  background: var(--color-light-purple);
  border-radius: 10px;
  cursor: not-allowed;
}

.inactive-navbar-btn-desktop {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 186px;
  height: 55px;
  border-radius: 16px;
  background-color: transparent;
  padding-left: 10px;
}

li.navbar-desktop {
  display: flex;
  align-items: center;
  width: 186px;
  height: 55px;
  background: var(--color-turquesa);
  border-radius: 16px;
  padding-left: 10px;
}

.tabs.is-boxed li.is-active a {
  background-color: var(--color-turquesa) !important;
  border-color: var(--color-turquesa) !important;
  color: var(--primary-color) !important;
}

/* END SECTION CLASS VIEW  */

div.card-robots-mp {
  width: 302px;
  height: 121px;
  background: var(--secondary-color);
  border-radius: 32px;
}

div.card-robots-user {
  background: var(--secondary-color);
  border-radius: 32px;
}

div.card-robots-class-2 {
  height: 104px;
  border-radius: 32px;
}

div.container-robots-card-class {
  max-height: 38vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.container-robots-card-class-2 {
  max-height: 224px;
  overflow-y: scroll;
}

input.input-style-class {
  height: 50px;
  border: 1px solid var(--color-transparent);
  box-sizing: border-box;
  border-radius: 0px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background: transparent;
  color: var(--primary-color) !important;
}

input.input-style-class {
  border-bottom: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

input.input-style-class:valid {
  border-bottom: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

span.input-group-search {
  border-bottom-width: 1px !important;
  border-bottom-color: #022754 !important;
  border-radius: 0px !important;
}

div.card-members-user-home {
  height: 48px;
  display: flex;
  align-items: center;
}

div.card-class-sections {
  width: 350px;
  height: 234px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 32px;
}

/* LESSON VIEW */
div.card-lesson {
  width: 274px;
  height: 96px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 16px;
}

span.title-lesson {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}

span.title-lesson-archived {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 138px;
}

span.author-lesson {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}

/* END LESSON VIEW */

/* BUTTON ADD CARD */

a.btn-create-card {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

/* END BUTTON ADD CARD */

/* MY SPACE SECTION */

a.button-files {
  width: 196px;
  height: 50px;
  border-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.box-my-space-direct {
  min-height: 100%;
  border-radius: 32px;
  margin-bottom: 25px;
  border: 2px solid var(--color-purple-on);
  margin: 0px 10px 0px 10px;
}

/* END MY SPACE SECTION */

/* SECTION POST VIEW */
div.card-post-view {
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 32px;
}

/* END SECTION POST VIEW */

/* SECTION MEMBER VIEW */
div.card-member-view-degree,
div.card-member-view-degree-2 {
  width: 274px;
  height: 96px;
  border-radius: 32px;
}
div.card-member-view-degree {
  border: 1px solid var(--primary-color);
}

div.card-member-view-degree-2 {
  border: 3px solid var(--primary-color);
}

/* END SECTION MEMBER VIEW */

/* SECTION ROBOT VIEW */
div.card-robot-view-degree {
  width: 274px;
  height: 96px;
  background: var(--secondary-color);
  border-radius: 32px;
}

/* END SECTION ROBOT VIEW */

/* FILTER ROBOT */

.bg-checkbox {
  accent-color: var(--color-check-input);
}

span.universal-select-option {
  width: 160px;
  overflow: hidden;
}

/* END FILTER ROBOT */

/* SECTION CLASSES VIEW */
div.classes-card-view {
  height: 70px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 24px;
}

div.classes-card-view-2 {
  width: 100%;
  height: 70px;
  background: var(--color-lavanda-strong);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 24px;
}

div.child-card-classes {
  width: 100%;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 32px;
}

/* END SECTION CLASSES VIEW */

/* USER PAGE */
div.box-robot-view {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.02),
    0px 0px 0px 1px rgba(27, 31, 35, 0.15);
  border-radius: 10px;
}

div.box-robot-view-2 {
  width: 220px;
  height: 220px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.02),
    0px 0px 0px 1px rgba(27, 31, 35, 0.15);
  border-radius: 10px;
}

div.box-robot-editor {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.drop-hover-filter:hover {
  background: var(--color-lavanda-strong) !important;
}

.drop-hover-filter-del:hover {
  background: rgba(218, 0, 26, 0.1) !important;
}

button.send-message-to-space {
  width: 100px;
  height: 36px;
  background: #1b105f;
  border-radius: 10px;
  border: 1px solid #1b105f;
  cursor: pointer;
}

div.box-message-to-post {
  border: 2px solid #C8C1CD;
  min-height: 144px;
  border-radius: 10px;
}

div.box-message-to-post-2 {
  width: 100%;
  min-height: 144px;
  border-radius: 10px;
  border: 2px solid #C8C1CD;
}
/* END USER PAGE */

/* POST PAGE */
a.button-saved-eraser {
  width: 196px;
  height: 50px;
  background: var(--color-purple-on);
  border-radius: 10px;
}

a.button-saved-post {
  width: 196px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 10px;
}

textarea.input-style-universal,
input.input-style-universal {
  height: 50px;
  border: 2px solid var(--color-lavanda) !important;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
}

input.input-style-vcalendar {
  height: 50px !important;
  border: 2px solid var(--color-lavanda) !important;
  box-sizing: border-box !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  box-shadow: none !important;
}

.input {
  background-color: var(--color-transparent);
}

textarea.input-style-universal::placeholder,
input.input-style-universal::placeholder {
  color: var(--color-purple);
}

textarea.input-style-universal:valid,
input.input-style-universal:valid {
  background-color: transparent !important;
  color: var(--color-purple) !important;
}

textarea.input-style-universal:hover,
input.input-style-universal:hover {
  background-color: transparent !important;
  border-color: var(--color-lavanda);
  color: var(--color-purple) !important;
}

textarea.input-style-universal:focus,
input.input-style-universal:focus {
  border-color: var(--color-lavanda) !important;
  box-shadow: none !important;
}

input.input-style-universal:focus-visible {
  border-color: var(--color-lavanda) !important;
  box-shadow: none !important;
}

.input-style-universal:active {
  background-color: transparent !important;
  border-color: var(--color-lavanda);
  color: var(--color-purple) !important;
}

a.is-no-active-tab,
a.is-no-active-tab:hover {
  color: var(--color-light-purple-gray) !important;
}

a.is-active-tab {
  color: var(--tertiary-color) !important;
  border-bottom-width: 5px;
  border-bottom-color: var(--tertiary-color);
}

a {
  cursor: pointer;
}
/* END POST PAGE */

/* LESSON PAGE */
a.button-saved-lesson,
a.button-saved-classes {
  width: 196px;
  height: 50px;
  border-radius: 10px;
}

a.button-save-lesson,
a.button-save-classes {
  height: 50px;
  background: #1b105f;
  border-radius: 10px;
}

a.button-cancel-lesson,
a.button-cancel-classes {
  height: 50px;
  background: var(--tertiary-color);
  border-radius: 10px;
}

/* END LESSON PAGE */

/* MESSAGE VIEW */

div.card-messages-view-files-user {
  min-width: 450px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 16px;
}

div.card-messages-view-direct {
  border-radius: 32px;
}

.module-message-universal {
  width: 100%;
  margin: 0 0 0.5em 0;
  overflow: hidden;
}

.module-message-universal-2 {
  max-width: 700px;
  overflow: hidden;
}

.module-message-universal-3 {
  overflow: hidden;
}

.module-message {
  width: 100%;
  margin: 0 0 0.5em 0;
  overflow: hidden;
}
.module-message-post,
.module-message-classes {
  width: 250px;
  margin: 0 0 0.5em 0;
  overflow: hidden;
}

.module-message-2 {
  width: 100%;
  margin: 0 0 0.5em 0;
  overflow: hidden;
  padding-right: 0.8rem;
}

.module-message p,
.module-message-universal p,
.module-message-universal span,
.module-message-universal-3 span,
.module-message-post p,
.module-message-classes p {
  margin: 0;
}

.line-clamp-message {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.line-clamp-message-2 {
  -webkit-box-orient: vertical;
}

.line-clamp-message-universal {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}

.line-clamp-message-universal-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-message-universal-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-message-post,
.line-clamp-message-classes {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* END MESSAGE VIEW */
div.section-messages-files-user {
  min-height: 215px;
  overflow: hidden;
}

/* CLASSES PAGE */
a.button-update-file {
  width: 196px;
  height: 50px;
  background: #1b105f;
  border-radius: 10px;
}

a.button-search-my-space {
  width: 196px;
  height: 50px;
  background: var(--color-lavanda);
  border-radius: 10px;
}

/* END CLASSES PAGE */

/* ACTIVITY VIEW */
div.card-activity-view {
  border: 1px solid var(--primary-color);
  border-radius: 16px;
}

/* END ACTIVITY VIEW */

/* POST VIEW */
div.saved-draft-container {
  width: 65px;
  height: 24px;
  background: #5b09bc;
  border-radius: 10px;
}

div.saved-archived-container {
  width: 66px;
  height: 24px;
  background: #5b09bc;
  border-radius: 10px;
}
/* END POST VIEW */

/* MEETINGS VIEW */

div.meetings-container-card-true {
  max-width: 100%;
  height: 70px;
  background: var(--color-lavanda-strong);
  border: 1px solid var(--primary-color);
  border-radius: 24px;
}

div.meetings-container-card-false {
  max-width: 100%;
  height: 70px;
  background: var(--color-white);
  border: 1px solid var(--primary-color);
  border-radius: 24px;
}

div.meetings-container-child-true {
  max-width: 100%;
  background: var(--color-white);
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
}
/* END MEETINGS VIEW */

div.more-lesson-hidden {
  max-height: 238px;
  overflow: hidden;
}

div.more-lesson-view {
  max-height: 100%;
}

button.btn-create-activity {
  width: 196px;
  height: 50px;
  border-radius: 10px;
}

button.btn-cancel-activity {
  width: 196px;
  height: 50px;
  background: var(--tertiary-color);
  border-radius: 10px;
}

button.btn-save-activity {
  width: 196px;
  height: 50px;
  border-radius: 10px;
}

span.date-for-classes {
  color: var(--color-purple-gray);
}

div.container-editor-activity {
  width: 100%;
  border: 1px solid #C8C1CD;
  border-radius: 32px;
}

/* SCHOOLS VIEW */

div.schools-card {
  width: 395px;
  height: 245px;
  background: var(--color-white);
  border: 1px solid var(--primary-color);
  border-radius: 32px;
}

span.addres-school-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
}

a.see-info-school-btn {
  width: 169.16px;
  height: 40px;
  border: 2px solid var(--color-light-purple);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.open-school-btn {
  width: 169.16px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END SCHOOLS VIEW */

div.card-message-response {
  width: 100%;
  min-height: 80px;
  background: var(--color-lavanda-strong);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

div.card-comments-user {
  min-height: 126px;
  background: var(--color-white);
  border: 1px solid var(--primary-color);
  border-radius: 32px;
}

div.container-messages-user-profile {
  max-height: 240px;
  overflow-y: scroll;
}

div.container-maybe-message-2 {
  min-height: 122px;
  background: var(--color-white);
  border-radius: 32px;
}

div.container-maybe-message {
  min-height: 94px;
  background: var(--color-white);
  border-radius: 32px;
}

button.button-meeting-create-disabled {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  border: None;
  cursor: not-allowed;
}

button.button-meeting-create {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  border: None;
  cursor: pointer;
}

div.container-robots-card-class-2,
div.container-messages-user-profile {
  overflow-x: hidden;
}

div.scrool-container-scholl-profile {
  overflow-y: scroll;
  height: 86vh;
}

div.card-last-meettings {
  height: 113px;
  border-radius: 32px;
}

div.menu {
  width: 15.625rem;
  height: 100%;
  background: var(--color-silver);
}

ul.menu-list-option {
  margin-top: 58px;
}

.scroll-dropdown-home {
  overflow-y: scroll;
  height: 40vh;
}

/* NEW SIDEBAR MENU */
.sidebar {
  height: 100%;
  background: #3d4cb7;
  padding: 6px 14px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-menu {
  width: 78px !important;
}

.sidebar .logo-details {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.sidebar .logo-details .icon {
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.btn-show-sidebar-menu:hover {
  height: 50px;
  width: 50px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: var(--primary-color);
}

.btn-show-sidebar-menu {
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo-details .btn {
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 20px;
}

.sidebar.open .logo-details .btn {
  text-align: right;
}

.sidebar i,
.sidebar img {
  color: #fff;
  height: 50px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
  height: 50px;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  padding: 6px 12px;
  border-radius: 4px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: white;
  height: 50px;
  width: 135px;
  display: flex;
  align-items: center;
  font-family: Noir-Regular;
  font-size: 18px;
  line-height: 22px;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color: var(--color-white);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a .links_name {
  color: #fff;
  font-family: Noir-Regular;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i,
.sidebar li a:hover img {
  transition: all 0.5s ease;
  color: var(--color-white);
}

.sidebar li i,
.sidebar li img {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
}

.bg-menu-option-active {
  background: var(--primary-color);
}

.bg-menu-option-inactive {
  background: var(--color-transparent);
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.icon-my-profile {
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 150px;
  border: 2px solid var(--color-light-purple);
  color: var(--color-light-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOOTSTRAP */
.img-card-32 {
  width: 32px;
  height: 32px;
  border-radius: 150px;
  object-fit: cover;
}

.img-card-48 {
  width: 48px;
  height: 48px;
  border-radius: 150px;
  object-fit: cover;
}

.img-card-56 {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  object-fit: cover;
}

.img-card-64 {
  width: 64px;
  height: 64px;
  border-radius: 150px;
  object-fit: cover;
}

.img-card-72 {
  width: 72px;
  height: 72px;
  border-radius: 150px;
  object-fit: cover;
}

.img-card-128 {
  width: 128px;
  height: 128px;
  border-radius: 150px;
  object-fit: cover;
}

.progress-home {
  background-color: #ffffff !important;
  border-radius: 0.625rem !important;
  height: 14px !important;
  width: 178px !important;
}

.progress-bar {
  background-color: var(--color-turquesa) !important;
}

.btn-second-home {
  color: #fff !important;
  background-color: #ffffff !important;
  border: 2px solid #A4A5E3 !important;
  width: 273px !important;
  height: 50px !important;
  border-radius: 10px !important;
}

.btn-second-meet {
  color: #fff !important;
  background-color: #ffffff !important;
  border: 2px solid #A4A5E3 !important;
  width: 330px !important;
  height: 50px !important;
  border-radius: 10px !important;
}

.btn-see-degree {
  color: #fff !important;
  background-color: #ffffff !important;
  border: 2px solid #A4A5E3 !important;
  width: 206px !important;
  height: 50px !important;
  border-radius: 10px !important;
}

.dropdown-toggle::after {
  color: #A4A5E3 !important;
}

.secondary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 0%) !important;
}

.dropdown-menu {
  font-size: 0.9rem !important;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 0%) !important;
}

ul.dropdown-menu-home {
  width: 273px;
}

ul.dropdown-menu-degree {
  width: 206px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.dropdown-h {
  height: 50px !important;
}

.accordion-item {
  min-width: 560px;
  max-width: 100%;
  height: 70px;
  background: var(--color-white) !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 24px !important;
}

.modal {
  background: #0000004a !important;
}

.menu-hidden-toggle::after {
  content: none !important;
}

.btn-outline-gray-purple-two:hover,
.btn-outline-purple-gray:hover {
  color: white !important;
}

.btn-outline-gray-purple-two.dropdown-toggle.show,
.btn-outline-purple-gray.dropdown-toggle.show {
  color: white !important;
}

a.see-info-school-btn:hover {
  color: var(--color-purple) !important;
}

a.open-school-btn:hover {
  color: var(--color-white);
}

button.btn-disabled-delete-meet {
  cursor: not-allowed !important;
}

.btn:disabled {
  pointer-events: all !important;
}

.btn-pe {
  pointer-events: none !important;
}

span.icon-schedule-time {
  border: 2px solid var(--color-lavanda) !important;
}

.btn:disabled {
  cursor: not-allowed;
}

.card-img-menu {
  object-fit: cover !important;
  height: 95vh !important;
}

.blur-img-menu {
  backdrop-filter: blur(15px);
}

.btn-outline-primary-blue-dark:focus {
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.focus-none {
  border-color: #e9ecef00 #e9ecef00 #e9ecef00 !important;
}

a.dropdown-item:active {
  background-color: var(--color-silver);
}

.card-search-u {
  width: 300px;
}
