.card-meetings-home {
    width: 818px;
    height: 70px;
    background: var(--color-transparent);
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 24px;

    .content-meetings-home {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.card-meetings-home.is-loading-meetings-home {

    // .image-meetings-home,
    h2,
    h3,
    h4,
    p {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 0px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    // .image-meetings-home {
    //     min-width: 48px;
    //     height: 48px;
    //     border-radius: 150px;
    // }

    h2 {
        height: 22px;
        font-size: 0;
        width: 15%;
        margin-left: 23px;
    }
    
    h3 {
        height: 22px;
        width: 15%;
    }

    h4 {
        height: 22px;
        width: 15%;
    }

    p {
        height: 34px;
        width: 15%;
        border-radius: 10px;
        margin-right: 23px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}