.card-robot-my-space {
    width: 302px;
    height: 121px;
    background: var(--color-transparent);
    border-radius: 0px;
    border: 1px solid var(--color-gray);
    box-shadow: none;
    border-radius: 32px;
    display: flex;
    align-items: center;

    .txt-robot-my-space {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .display-robot-my-space {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .enabled-robot-my-space {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .options-robot-my-space {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.card-robot-my-space.is-loading-robot-my-space {

    .menu-robot-my-space,
    .image-robot-my-space,
    .reset-robot-my-space,
    h2,
    h3,
    p {
        background: #03336E;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 0px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .image-robot-my-space {
        min-width: 64px;
        height: 64px;
        border-radius: 150px;
    }

    // .reset-robot-my-space {
    //     height: 22px;
    //     width: 23px;
    // }

    .menu-robot-my-space {
        width: 0; 
        height: 0; 
        border-left: 20px solid rgb(169 168 168 / 30%);
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent; 
        margin-left: 16px;
    }

    h2 {
        height: 22px;
        font-size: 0;
        width: 66px;
        margin-left: 10px;
    }
    
    h3 {
        height: 18px;
        width: 95%;
    }
    
    p {
        height: 17px;
        margin-bottom: 5px;
        width: 95%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}