.card-member-list {
    width: 274px;
    height: 96px;
    background: var(--color-transparent);
    border-radius: 0px;
    border: 1px solid var(--color-gray);
    box-shadow: none;
    border-radius: 32px;

    .content-member-list {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .content-member-list-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .txt-member-list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.card-member-list.is-loading-member-list {

    .menu-member-list,
    .image-member-list,
    h2,
    p {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 0px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .image-member-list {
        min-width: 64px;
        height: 64px;
        border-radius: 150px;
    }

    .menu-member-list {
        width: 10px;
        height: 22px;
        margin-left: 20px;
    }

    h2 {
        height: 22px;
        font-size: 0;
        width: 131px;
        margin-left: 10px;
        margin-bottom: 9px;
    }
    
    p {
        height: 17px;
        width: 54px;
        margin-left: 10px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}